*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
ul{
    list-style-type: none;
}

button {
    border-radius:10px;
    padding:0.5em 1em;
    background-color: #007BFF;
    color: white;
}